<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>{{ form.title }}</title>
  <style>
    div#customFormContent {
      font-family: sans-serif;
      padding: 1em 2em;
      text-align: center;
    }
    div#customFormContent p {
      width: 50em;
    }
    div#customFormContent label {
      display: block;
      float: left;
      width: 10em;
    }
    div#customFormContent .errorlist {
      color: #f00;
    }
  </style>
</head>
<body>
  <div id="customFormContent">
    <h1>{{ form.title }}</h1>
    {% if form.response %}
    <p>{{ form.response }}</p>
    {% endif %}
  </div>
</body>
